<h2 class="mat-display-2">Networking cheatsheet</h2>
<div class="item">
    <a mat-raised-button routerLink="router">Router</a>
</div>
<div class="item">
    <a mat-raised-button routerLink="switch">Switch</a>
</div>
<div class="item">
    <a mat-raised-button routerLink="layer3">Layer 3 Switch</a>
</div>
<div class="item">
    <a mat-raised-button routerLink="vlan">VLAN</a>
</div>
<!-- <div>
    <div class="item">
        <a routerLink="router">Router</a>
    </div>
    <br>
    <div class="item">
        <a routerLink="switch">Switch</a>
    </div>
    <br>
    <div class="item">
        <a routerLink="layer3">Layer 3 Switch</a>
    </div>
    <br>
    <div class="item">
        <a routerLink="vlan">VLAN</a>
    </div>
    <br>
</div> -->