<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Home</a>
    <span class="example-fill-remaining-space"></span>
    <a mat-button href="https://github.com/ThePridestalker/Cisco-cheat-sheet">
      <span class="mat-button-wrapper">
        <img src="../assets/img/githubLogo.svg"> GitHub 
      </span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div id="content">
  <div id=center>
    <div>
      <a routerLink="/">
        <img src="https://avatars3.githubusercontent.com/u/15876166" style="vertical-align: middle;" height="200" />
      </a>
    </div>
    <div class="example">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>